<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 명령어</title>
</head>
<body>
    <h1>비순서형 목록</h1>
    <ul>
        <li>목록1</li>
        <li>목록2</li>
        <li>목록3</li>
        <li>목록4</li>
    </ul>

    <h1>순서형 목록</h1>
    <ol>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
        <li>item4</li>
        <li>item5</li>
        <li>item6</li>
    </ol>

    <p>사랑해 널 이느낌 이대로 꿈꿔왔던 헤메임의 끝</p>
    <p>목숨이 우리는 바이며, 착목한는 노년에게서 굳세게 남는 속에서 것이다. 봄날의 가는 눈에 얼마나 석가는 들어 쓸쓸하랴? 앞이 열매를 없으면 사막이다. 
        천하를 속잎나고, 것이 소담스러운 힘차게 자신과 아니다. 풀밭에 뭇 자신과 크고 인류의 같으며, 싸인 길지 거친 부패뿐이다. 그들은 우리 바이며, 더운지라 이상의 긴지라 있다. 얼마나 우리 소리다.이것은 그들에게 이것이다. 황금시대의 끓는 가는 얼마나 뭇 작고 사막이다. 광야에서 청춘의 그들의 너의 위하여, 사랑의 것은 청춘의 소리다.이것은 봄바람이다. 일월과 이상, 대고, 그들에게 넣는 칼이다. 
        같은 피가 노년에게서 피에 바이며, 불어 피다.</p>

</body>
</html>
